.layoutContainer {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  max-width: 90%;
}

.requestsContainer {
  width: 50%;
  height: 600px;
  border: solid 1px black;
}

.mapContainer {
  width: 50%;
  height: 600px;
  border: solid 1px black;
}